@model List<GrupoEstudosMusical.MVC.Models.InstrumentoDoAlunoVM>
@{
    ViewBag.Title = "LançarNotas";
}


<div class='col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Instrumentos do Aluno @ViewBag.NomeAluno</h1>
        </div>
        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Index")">Instrumentos</a>
                </li>
                <li class="active">
                    <strong>Todos instrumentos do Aluno</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Instrumentos</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>

        <div class="content-body">
            <button type="button" class="btn btn-primary btn-icon bottom15 right15" onclick="AbrirModal();"><i class="fa fa-check-circle"></i>Efetuar empréstimo</button><br /><br />
            @Html.Partial("_MensagemSucesso")
            <div class="row">
                <div class="col-xs-12">
                    <table id="example-1" class="table table-striped dt-responsive display">
                        <thead>
                            <tr>
                                <th>Nome instrumento</th>
                                <th>Data do empréstimo</th>
                                <th>Fabricante</th>
                                <th>Status</th>
                                <th id="">Opções</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nome instrumento</th>
                                <th>Data do empréstimo</th>
                                <th>Fabricante</th>
                                <th>Status</th>
                                <th>Opções</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var instrumento in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(item => instrumento.NomeInstrumentoAluno)</td>
                                    <td>@instrumento.DataEmprestimo.ToString("dd/MM/yyyy")</td>
                                    <td>@Html.DisplayFor(item => instrumento.Fabricante.Nome)</td>
                                    <td style="width: 160px">
                                        <p class="uibadges">
                                            @if (instrumento.Status.Equals(GrupoEstudosMusical.Bussines.StaticList.StatusDeEmprestimoStaticList.Emprestado()))
                                            {
                                                <span class="badge badge-md badge-success"> @instrumento.Status</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-md badge-warning"> @instrumento.Status</span>
                                            }
                                        </p>
                                    </td>
                                    
                                    <td style="width:160px;">
                                        @if (!instrumento.Status.Equals(GrupoEstudosMusical.Bussines.StaticList.StatusDeEmprestimoStaticList.Devolvido()))
                                        {
                                            <button type="button" class="btn btn-danger" onclick="EfetuarDevolucao('@instrumento.IdInstrumentoDoAluno')">Devolver</button>
                                        }
                                    </td>
                                    
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal" id="section-settings" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog animated bounceInDown">
        <div class="modal-content">
            @using (Html.BeginForm("RemoverInstrumentoDoAluno", "Instrumentos"))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Remover instrumento</h4>
                </div>
                <div class="modal-body">
                    Deseja realmente remover o instrumento
                    <input type="hidden" name="id" id="id">
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Não</button>
                    <button class="btn btn-danger" type="submit">Sim</button>
                </div>
            }
        </div>
    </div>
</div>





<div class="modal fade" id="modalInstrumento">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Efetuar empréstimo</h4>

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">
                @using (Ajax.BeginForm("EfetuarEmprestimo", "Instrumentos", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "OnSuccess"
                }, new { id = "form_emprestimoAluno" }))
                {
                    @Html.Partial("_EfetuarEmprestimoInstrumento", new GrupoEstudosMusical.MVC.Models.InstrumentoDoAlunoVM() { AlunoID = ViewBag.AlunoID })
                }
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">


    function AbrirModal() {
        jQuery('#modalInstrumento').modal('show', { backdrop: 'static' });

    }

</script>




@section Styles{
    <link href="~/Content/lib/datepicker/css/datepicker.css" rel="stylesheet" type="text/css" media="screen">
    <link href="~/Content/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/lib/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/lib/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/lib/datatables/extensions/Responsive/bootstrap3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
}

@section Scripts{
    <script src="~/Scripts/js/avaliacoesDaTurmaIndex.js" type="text/javascript"></script>
    <script src="~/Scripts/lib/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Scripts/lib/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script src="~/Scripts/lib/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="~/Scripts/lib/datatables/extensions/Responsive/bootstrap3/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="~/Scripts/js/TurmasIndex.js" type="text/javascript"></script>
    <script src="~/Scripts/lib/datepicker/js/datepicker.js" type="text/javascript"></script>
    <script src="~/Scripts/js/JsInstrumentoEmprestimo.js"></script>
    <script src="~/Scripts/lib/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/lib/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/Scripts/js/form-validation.js" type="text/javascript"></script>
    <script src="~/Scripts/lib/jquery-validation/js/jquey.validate.pt-br.js" type="text/javascript"></script>
}