@model IEnumerable<GrupoEstudosMusical.MVC.Models.ModuloVM>
@{
    ViewBag.Title = "Index";
}



<div class='col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Módulos</h1>
        </div>
        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Index")">Módulos</a>
                </li>
                <li class="active">
                    <strong>Todos Módulos</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Lista Módulos</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>
        <div class="content-body">
            @if (TempData["Mensagem"] != null && TempData["Mensagem"].ToString() != "")
            {
                <div class="alert alert-success alert-dismissible fade in">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <strong>Sucesso:</strong> @TempData["Mensagem"].ToString()
                </div>
            }
            <div class="row">
                <div class="col-xs-12">
                    <table id="example-1" class="table table-striped dt-responsive display">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor( m => m.Nome)</th>
                                <th>@Html.DisplayNameFor(m => m.Observacoes)</th>
                                <th>@Html.DisplayNameFor(m => m.DataCadastro)</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Nome)</th>
                                <th>@Html.DisplayNameFor(m => m.Observacoes)</th>
                                <th>@Html.DisplayNameFor(m => m.DataCadastro)</th>
                                <th>Opções</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var model in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(item => model.Nome)</td>
                                    <td>@Html.DisplayFor(item => model.Observacoes)</td>
                                    <td>@Html.DisplayFor(item => model.DataCadastro)</td>
                                    <td style="width: 160px">
                                        @Html.ActionLink("Editar", "Editar", "Modulo", new { id = model.Id }, new { @class = "btn btn-primary" })

                                        <a class="btn btn-danger" data-toggle="modal" href="#section-settings"
                                           onclick="apagar(this, '@(model.Id)', '@(model.Nome)')">Apagar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal" id="section-settings" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog animated bounceInDown">
        <div class="modal-content">
            @using (Html.BeginForm("Deletar", "Modulo"))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Deletar Módulo</h4>
                </div>
                <div class="modal-body">
                    Deseja realmente deletar Módulo?
                    <input type="hidden" name="id" id="id">
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Não</button>
                    <button class="btn btn-danger" type="submit">Sim</button>
                </div>
            }
        </div>
    </div>
</div>

@section Styles{
    <link href="~/Content/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/lib/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/lib/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/lib/datatables/extensions/Responsive/bootstrap3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
}

@section Scripts{
    <script src="~/Scripts/lib/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Scripts/lib/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script src="~/Scripts/lib/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="~/Scripts/lib/datatables/extensions/Responsive/bootstrap3/dataTables.bootstrap.js" type="text/javascript"></script>
}
