@model GrupoEstudosMusical.MVC.Models.ListaAulasVM

@{
    ViewBag.Title = "Lista de Aulas";
    var idTurma = Request.Params["idTurma"];
}

@if (Session["nivelAcesso"] != null && Session["nivelAcesso"].ToString().Equals("Aluno"))
{
    var idAluno = Model.Turma.Matriculas.Where(m => m.Aluno.UsuarioId == int.Parse(Session["idUsuario"].ToString())).Select(m => m.AlunoId).FirstOrDefault();
    <div class='col-xs-12'>
        <div class="page-title">
            <div class="pull-left">
                <h1 class="title">Aulas Ministradas</h1>
            </div>
            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="@Url.Action("VisaoGeral", "Alunos", new { id = idAluno })">
                            <i class="fa fa-home"></i>Home
                        </a>
                    </li>
                    <li>
                        <a href=@($"Aluno/Turmas/{idAluno}")>Minhas Turmas</a>
                    </li>
                    <li class="active">
                        <strong>Todos as Aulas</strong>
                    </li>
                </ol>
            </div>
        </div>
    </div>
}
else
{
    <div class='col-xs-12'>
        <div class="page-title">
            <div class="pull-left">
                <h1 class="title">Aulas Ministradas</h1>
            </div>
            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Turmas")">Turmas</a>
                    </li>
                    <li>
                        <a href="@Url.Action("VisaoGeral", "Turmas", new { id = idTurma })">Visão Geral</a>
                    </li>
                    <li class="active">
                        <strong>Todos as Aulas</strong>
                    </li>
                </ol>
            </div>
        </div>
    </div>
}
<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Lista de Aulas da Turma <span class="negrito">@Model.Turma.Nome</span></h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>
        <div class="content-body">
            @if (!Session["nivelAcesso"].ToString().Equals("Aluno"))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group pull-left">
                            <div class="controls">
                                <a href="Aulas/Novo?idTurma=@idTurma" class="btn btn-success btn-iconic bottom">
                                    <i class="fa fa-plus"> &nbsp; <span>Adicionar Aula</span></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @Html.Hidden("mensagem", TempData["mensagem"])
            @Html.Hidden("tipo", TempData["tipo"])
            @{
                const int TAMANHO_LINHA = 3;
                int quantidadeLinhas = (int)Math.Ceiling((double)Model.Aulas.Count / TAMANHO_LINHA);
            }
            @for (int i = 0; i < quantidadeLinhas; i++)
            {
                var parteAulas = Model.Aulas.Skip(i * TAMANHO_LINHA).Take(TAMANHO_LINHA).ToList();
                <div class="row">
                    @foreach (var aula in parteAulas)
                    {
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail card-aula">
                                <div class="caption">
                                    <h3>@aula.DiaDaSemana</h3>
                                    <h3>@aula.DataCadastro.ToString("d")</h3>
                                    <p>
                                        <span>Módulo: </span>
                                        @aula.Turma.Modulo.Nome
                                    </p>
                                    <p class="card-aula-conteudo">
                                        <span>Conteúdo: </span>
                                        @aula.Conteudo
                                    </p>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="card-aula-links">
                                                @Html.ActionLink("Visualizar", "Detalhes", new { id = aula.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                                                <a href="#section-settings" data-toggle="modal" class="btn btn-danger"
                                                   onclick="apagar(this, '@aula.Id', '@aula.DiaDaSemana - @aula.DataCadastro.ToString("d")')">
                                                    Remover
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </section>
</div>

<div class="modal" id="section-settings" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog animated bounceInDown">
        <div class="modal-content">
            @using (Html.BeginForm("Deletar", "Aulas"))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Deletar Aula</h4>
                </div>
                <div class="modal-body">
                    Deseja realmente deletar Aula?
                    <input type="hidden" name="id" id="id">
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Não</button>
                    <button class="btn btn-danger" type="submit">Sim</button>
                </div>
            }
        </div>
    </div>
</div>