@model GrupoEstudosMusical.MVC.Models.InstrumentoDoAlunoVM
@{
    ViewBag.Title = "_EfetuarEmprestimoInstrumento";
}


@Html.HiddenFor(i => i.AlunoID)
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-label">Instrumento</label>
            <div class="controls">
                @Html.DropDownListFor(m => m.InventarioID, new SelectList(ViewBag.Instrumentos, "IntrumentoID", "Nome"), new { @class = "form-control m-bot15" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.FabricanteID, htmlAttributes: new { @class = "form-label" })
            <div class="controls">
                @Html.DropDownListFor(m => m.FabricanteID, new SelectList(ViewBag.Fabricantes, "Id", "Nome"), new { @class = "form-control m-bot15" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-label">Cor</label>
            <div class="controls">
                @Html.EditorFor(model => model.Cor, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-label">Data de empréstimo</label>
            <div class="controls">
                @Html.EditorFor(model => model.DataEmprestimo, new { htmlAttributes = new { @class = "form-control datepicker", @data_format = "dd/MM/yyyy" } })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-label">Ano de Fabricação</label>
            <div class="controls">
                @Html.EditorFor(model => model.AnoDeFabricacaoInstrumento, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-success">Salvar</button>
</div>

