@{
    //string controller = ViewContext.RouteData.Values["controller"].ToString();
    //string rota = Url.RouteUrl(ViewContext.RouteData.Values);
    string nivelAcesso = Context.Session["nivelAcesso"]?.ToString();
}
<!-- SIDEBAR - START -->
<div class="page-sidebar pagescroll">

    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">

        <!-- USER INFO - START -->
        <div class="profile-info row">

            <div class="profile-image col-xs-4">

                @if (nivelAcesso == "Aluno")
                {
                    <img alt="" src="~/Content/imagensAlunos/@Context.Session["imagemUrl"]" class="img-responsive img-circle">
                }
                else
                {
                    <img alt="" src="~/Content/images/user.png" class="img-responsive img-circle">
                }

            </div>

            <div class="profile-details col-xs-8">

                <h3>
                    <a>@(Context.Session["nomeUsuario"]?.ToString().Split(' ')[0])</a>

                    <!-- Available statuses: online, idle, busy, away and offline -->
                    <span class="profile-status online"></span>
                </h3>

                <p class="profile-title">@(Context.Session["nivelAcesso"]?.ToString())</p>

            </div>

        </div>
        <!-- USER INFO - END -->

        @if (nivelAcesso == "Administrador")
        {
            @Html.Partial("_MenuAdministrador");
        }
        else if (nivelAcesso == "Professor")
        {
            @Html.Partial("_MenuProfessor");
        }
        else if (nivelAcesso == "Aluno")
        {
            @Html.Partial("_MenuAluno");
        }

    </div>
    <!-- MAIN MENU - END -->



</div>
<!--  SIDEBAR - END -->