@{
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    string rota = Url.RouteUrl(ViewContext.RouteData.Values);
}

<ul class='wraplist'>
    <li class="@(controller == "Turmas" ? "open" : "" )">
        <a href="javascript:;">
            <i class="fa fa-users"></i>
            <span class="title">Turmas</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu" style="@(controller == "Turmas" ? "display-block" : "" )">
            <li>
                <a class="@(rota == "/Turmas/Index" || rota == "/Turmas" ? "active" : "" )" href="@Url.Action("Index", "Turmas")">Todas Turmas</a>
            </li>
            <li>
                <a class="@(rota == "/Turmas/Novo" ? "active" : "" )" href="@Url.Action("Novo", "Turmas")">Cadastrar Turma</a>
            </li>
        </ul>
    </li>
    <li class="@(controller == "Avaliacoes" ? "open" : "" )">
        <a href="javascript:;">
            <i class="fa fa-file"></i>
            <span class="title">Avaliações</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu" style="@(controller == "Avaliacoes" ? "display-block" : "" )">
            <li>
                <a class="@(rota == "/Avaliacoes/Index" || rota == "/Avaliacoes" ? "active" : "" )" href="@Url.Action("Index", "Avaliacoes")">Todas Avaliações</a>
            </li>
            <li>
                <a class="@(rota == "/Avaliacoes/Novo" ? "active" : "" )" href="@Url.Action("Novo", "Avaliacoes")">Cadastrar Avaliação</a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="javascript:;">
            <i class="fa fa-bar-chart"></i>
            <span class="title">Relatórios</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a class="" href="uni-report-student.html">Alunos</a>
            </li>
            <li>
                <a class="" href="uni-report-professors.html">Professores</a>
            </li>
        </ul>
    </li>
</ul>