@model List<GrupoEstudosMusical.Models.Entities.Matricula>
@{
    ViewBag.Title = "AlunosDaTurma";
}

<div class='col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Alunos da Turma @ViewBag.Turma.Nome </h1>
        </div>
        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Turmas")">Turmas</a>
                </li>
                <li>
                    <a href="@Url.Action("VisaoGeral", "Turmas", new { id = ViewBag.IdTurma})">Visão Geral</a>
                </li>
                <li class="active">
                    <strong>Alunos da Turma</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Alunos da Turma</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>
        <div class="content-body">
            @Html.Partial("_MensagemSucesso")
            <div class="row">
                <div class="col-xs-12">
                    <table id="example-1" class="table dt-responsive display texto-centralizado">
                        <thead>
                            <tr>
                                <th></th>
                                <th>RA</th>
                                <th>Nome</th>
                                <th>Média</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>RA</th>
                                <th>Nome</th>
                                <th>Média</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var matricula in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="profile-info row">
                                            <div class="profile-image col-xs-7">
                                                <img src="~/Content/ImagensAlunos/@matricula.Aluno.ImagemUrl" class="img-responsive img-circle"/>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span style="margin-top: 10px">
                                            @Html.DisplayFor(item => matricula.Id)
                                        </span>
                                    </td>
                                    <td>@Html.DisplayFor(item => matricula.Aluno.Nome)</td>
                                    <td>@Html.DisplayFor(item => matricula.Media)</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>


@section Styles{
    @*<link href="~/Content/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/lib/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/lib/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/lib/datatables/extensions/Responsive/bootstrap3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="screen" />*@
}

@section Scripts{
    @*<script src="~/Scripts/lib/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Scripts/lib/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script src="~/Scripts/lib/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="~/Scripts/lib/datatables/extensions/Responsive/bootstrap3/dataTables.bootstrap.js" type="text/javascript"></script>*@
}


