@model GrupoEstudosMusical.MVC.Models.TurmaVM
@{
    ViewBag.Title = "Visão Geral";
}

<div class='col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Visão Geral da Turma <span style="font-weight: bold">@Model.Nome</span></h1>
        </div>
        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Index")">Turmas</a>
                </li>
                <li class="active">
                    <strong>Visão Geral</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

@Html.Hidden("mensagem", TempData["mensagem"])
@Html.Hidden("tipo", TempData["tipo"])


@Html.Partial("_VisaoGeralTurma", new ViewDataDictionary { { "titulo", "Alunos da Turma" }, { "link", @Url.Action("AlunosDaTurma", "Turmas", new { id = Model.Id }) }, { "imagem", "/Content/images/presentation.png" }, { "alt", "alunos" } })

@Html.Partial("_VisaoGeralTurma", new ViewDataDictionary { { "titulo", "Gerar Boletim" }, { "link", @Url.Action("GerarBoletimdaTurma", "Relatorios", new { id = Model.Id }) }, { "imagem", "/Content/images/form.png" }, { "alt", "Gerar boletim da Turma" } })

@Html.Partial("_VisaoGeralTurma", new ViewDataDictionary { { "titulo", "Emitir ocorrências " }, { "link", @Url.Action("GerarRelatoriosDeOcorrenciasPorTurma", "Relatorios", new { turmaID = Model.Id }) }, { "imagem", "/Content/images/contract.png" }, { "alt", "Gerar ocorrências dos Alunos" } })

@Html.Partial("_VisaoGeralTurma", new ViewDataDictionary { { "titulo", "Avaliações" }, { "link", @Url.Action("AvaliacoesDaTurma", "Avaliacoes", new { id = Model.Id, NomeTurma = Model.Nome }) }, { "imagem", "/Content/images/menu_avaliacoes_turma.png" }, { "alt", "avaliacoes" } })

@Html.Partial("_VisaoGeralTurma", new ViewDataDictionary { { "titulo", "Aulas" }, { "link", @Url.Action("Index", "Aulas", new { idTurma = Model.Id }) }, { "imagem", "/Content/images/menu_aulas.png" }, { "alt", "aulas" } })

@Html.Partial("_VisaoGeralTurma", new ViewDataDictionary { { "titulo", "Lançar Faltas" }, { "link", @Url.Action("Index", "Chamadas", new { idTurma = Model.Id }) }, { "imagem", "/Content/images/menu_chamadas.png" }, { "alt", "Chamadas" } })

@Html.Partial("_VisaoGeralTurma", new ViewDataDictionary { { "titulo", "Lançar Notas" }, { "link", @Url.Action("LancarNotas", "Turmas", new { Id = Model.Id }) }, { "imagem", "/Content/images/menu_lancar_notas.png" }, { "alt", "Lançar Notas" } })

@Html.Partial("_VisaoGeralTurma", new ViewDataDictionary { { "titulo", "Recálculo" }, { "link", "#" }, { "imagem", "/Content/images/menu_recalculo.png" }, { "alt", "Recalculo" }, { "attr", $"id=recalculoAcademico onclick=EfetuarRecalculoAcademico('{Model.Id}')" } })

@Html.Partial("_VisaoGeralTurma", new ViewDataDictionary { { "titulo", "Editar Turma" }, { "link", @Url.Action("Editar", "Turmas", new { id = Model.Id }) }, { "imagem", "/Content/images/menu_editar_turma.png" }, { "alt", "Editar Turmas" } })

@Html.Partial("_VisaoGeralTurma", new ViewDataDictionary { { "titulo", "Finalizar Turma" }, { "link", "#" }, { "imagem", "/Content/images/cancel.png" }, { "alt", "Finalizar" }, { "attr", $"id=finalizarTurma onclick=FinalizarVigenciaTurma('{Model.Id}')" } })

@Html.Partial("_VisaoGeralTurma", new ViewDataDictionary { { "titulo", "Remover Turma" }, { "link", "#section-settings" }, { "imagem", "/Content/images/menu_deletar_turma.png" }, { "alt", "Chamadas" }, { "attr", $"data-toggle=modal onclick=apagar(this,'{Model.Id}','{Model.Nome.Replace(" ", "")}')" } })



<div class="modal" id="section-settings" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog animated bounceInDown">
        <div class="modal-content">
            @using (Html.BeginForm("Deletar", "Turmas"))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Deletar Turma</h4>
                </div>
                <div class="modal-body">
                    Deseja realmente deletar Turma?
                    <input type="hidden" name="id" id="id">
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Não</button>
                    <button class="btn btn-danger" type="submit">Sim</button>
                </div>
            }
        </div>
    </div>
</div>



@section styles {
    <link href="~/Content/lib/messenger/messenger.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/lib/messenger/messenger-theme-future.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/lib/messenger/messenger-theme-flat.css" rel="stylesheet" type="text/css" media="screen" />
}

@section scripts {

    <script>
        function EfetuarRecalculoAcademico(Id) {
            $.ajax({
                type: "POST",
                url: document.location.origin + "/Turmas/RecalculoAcademico",
                data: { Id },
                success: function (retorno) {
                    if (retorno.result) {
                        swal("Sucesso", "Recálculo acadêmico realizado com sucesso!", "success");
                    } else {
                        swal("Atenção!", "Ocorreu um erro", "error");
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    // TODO: Show error

                    alert(errorThrown);
                }
            });
        }
        function FinalizarVigenciaTurma(Id) {
            $.ajax({
                type: "POST",
                url: document.location.origin + "/Turmas/FinalizarVigenciaTurma",
                data: { ID: Id },
                success: function (retorno) {
                    if (retorno.result) {
                        swal("Sucesso", retorno.mensagem, "success");
                    } else {
                        swal("Atenção!", retorno.mensagem, "error");
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    // TODO: Show error

                    alert(errorThrown);
                }
            });
        }

    </script>
    <script src="~/Scripts/lib/messenger/messenger.min.js" type="text/javascript"></script>
    <script src="~/Scripts/lib/messenger/messenger-theme-future.js" type="text/javascript"></script>
    <script src="~/Scripts/lib/messenger/messenger-theme-flat.js" type="text/javascript"></script>
    <script src="~/Scripts/js/messenger.js" type="text/javascript"></script>
    @*<script src="~/Scripts/js/visao-geral-aluno.js"></script>*@
}
